.Weather {
  color: white;
  font-family: "Poppins", sans-serif;
  border: 1px solid #ff3266;
  background: rgb(95, 178, 208);
  background: linear-gradient(
    8deg,
    rgba(95, 178, 208, 1) 0%,
    rgba(244, 252, 255, 1) 100%
  );

  padding: 20px;
  border-radius: 12px;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  font-weight: 130;
  margin-bottom: 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 15px;
  line-height: 25px;
  font-weight: 100;
  list-style: none;
}

.Weather img {
  width: 90px;
  height: 90px;
  margin-right: 10px;
  display: inline-block;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 60px;
  line-height: 64px;
  margin-left: 10px;
}

.Weather .unit {
  margin-left: 5px;
  font-size: 16px;
  line-height: 1;
  top: -30px;
  position: relative;
}

.Weather .stat {
  margin-left: 70px;
}
